<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 signup">
    <h3 class="text-center">Create new user</h3>

    <%= form_tag '/users', method: 'post' do %>
      <div class="form-group">
        <label for="email-input">Email:</label>
        <input type="email" class="form-control" name="email" placeholder="Email" id="email-input">
      </div>

      <div class="form-group">
        <label for="username-input">Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Username" id="username-input">
      </div>

      <div class="form-group">
        <label for="password-input">Password:</label>
        <input type="password" class="form-control" name="password" placeholder="Password" id="password-input">
      </div>

      <button class="btn btn-success form-control">Sign Up</button>
    <% end  %>
    
  </div>
</div>
