<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 signup">
    <h3 class="text-center">Create new user</h3>

    <%= form_tag '/users', method: 'post' do %>
      <div class="form-group">
        <label class="control-label" for="email-input">Email:</label>
        <input type="email" class="form-control" name="email" id="email-input" required>
      </div>

      <div class="form-group">
        <label class="control-label" for="username-input">Username:</label>
        <input type="text" class="form-control" name="username" id="username-input" required>
      </div>

      <div class="form-group">
        <label class="control-label" for="password-input">Password:</label>
        <input type="password" class="form-control" name="password" id="password-input" required>
      </div>

      <button class="btn btn-success form-control">Sign Up</button>
    <% end  %>

    <h6 class="text-center">Already have an account? <a href="#">Log in</a></h6>

  </div>
</div>
