<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 login">
    <h3 class="text-center">Edit Image</h3>

    <% if @errors %>
      <ul class="list-unstyled text-danger">
        <% @errors.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <%= form_tag "/posts/#{@post.id}", method: 'patch', multipart: true do %>
      <div class="form-group">
        <label class="control-label" for="post-title">Title:</label>
        <input type="text" class="form-control" name="title" id="post-title" value="<%= @post.title %>" required>
      </div>

      <div class="form-group">
        <label class="control-label" for="post-description">Description:</label>
        <input type="text" class="form-control" name="description" id="post-description" value="<%= @post.description %>">
      </div>

      <div class="form-group">
        <label class="control-label" for="post-image">File input</label>
        <input type="file" name="image" id="post-image" accept="image/*">
      </div>

      <button class="btn btn-success form-control">Post</button>
    <% end  %>

  </div>
</div>
