<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 login">
    <h3 class="text-center">Upload Image</h3>

    <%= form_tag '/posts', method: 'post', multipart: true do %>
      <div class="form-group">
        <label class="control-label" for="post-title">Title:</label>
        <input type="text" class="form-control" name="title" id="post-title" required>
      </div>

      <div class="form-group">
        <label class="control-label" for="post-description">Description:</label>
        <input type="text" class="form-control" name="description" id="post-description">
      </div>

      <div class="form-group">
        <label class="control-label" for="post-image">File input</label>
        <input type="file" name="image" id="post-image">
      </div>

      <button class="btn btn-success form-control">Post</button>
    <% end  %>

  </div>
</div>
