body {
  background-color: #dddddd;
  padding-top: 100px;
}

.signup, .login {
  padding: 16px 32px 32px 32px;
  background-color: #fff;
  border: solid 1px #eeeeee;
}

.fit-img {
  width: 100%;
}

.context {
  resize: none;
}
